<div class="jumbotron uk-child-width-1-2@s uk-light" uk-grid>
  <div class="uk-background-cover"
      style="background-image: url({{.imageUrl}});">
    <div class="uk-container">
      <div class="uk-background-primary has-text-white">
        <h1 class="has-text-white uk-margin-remove">{{.title}}</h1>
        {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 white mw6 bg-primary">
            {{.subtitle}}
          </p>
        {{ end }}
      </div>            
    </div>
  </div>
</div>
