<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "header" . }}

<body class="sans-serif {{ if .IsHome }}{{else}}{{if .Params.imageUrl}}{{else}}uk-navbar-white{{end}}{{end}}">


  {{ block "head" . }}
  <header class="header-main">
    <div class="uk-container">
      {{ partial "main-nav" . }}
    </div>
  </header>
  {{end}}
  {{ block "main" . }}{{ end }}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175325361-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175325361-1');
  </script>
</body>
</html>
