.C03-split-title-content {
  padding-top: $global-padding;
  padding-bottom: $global-padding;

  @media (max-width: $breakpoint-small) {
    padding-top: $global-padding-mobile;
    padding-bottom: $global-padding-mobile;
  }

  &__svg {
    padding-bottom: 60px;

    @media (max-width: $breakpoint-medium) {
      padding-bottom: 40px;
    }

    @media (max-width: $breakpoint-small) {
      display: block;
      padding-bottom: 20px;
    }
  }
}
