.C04-spotlight-image-content {
  padding-top: $global-padding;
  padding-bottom: $global-padding;

  @media (max-width: $breakpoint-small) {
    padding-top: $global-padding-mobile;
    padding-bottom: $global-padding-mobile;
  }
  
  h1,
  h2,
  h3 {
    margin-top: 0;
  }

  &__svg {
    padding-bottom: 10px;

    @media (max-width: $breakpoint-small) {
      display: block;
    }
  }
}
