body {
  font-family: Futura;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 55px;
}

.uk-icon {
  position: relative;
  top: -2px;
}
