{{/*<br>
{{ .title }}<br>
{{ .description }}<br>
{{ $postCount := len .content }}
{{ $getWidth := printf "%v%v" "uk-child-width-1-" $postCount}}
{{ $getWidths := print $getWidth "@l" }}
<div class="uk-section">
    <div class="uk-section">
        <h1>accordion</h1>
        <ul uk-accordion data-id="C01" class="accordion">
            {{range $index, $element := .content}}
            <li>
                <a class="uk-accordion-title" href="#"><p>{{ $element.name }}</p></a>
                <div class="uk-accordion-content">
                    <img src="{{ $element.image }}" alt="" width="100px">
                    <h3>{{ $element.subtitle }}</h3>
                    <p>{{ $element.description }}</p>
                </div>
            </li>
            {{ end }}
        </ul>

    </div>
</div>
*/}}
