<br>
{{ .title }}<br>
{{ .description }}<br>
{{ $postCount := len .content }}
{{ $getWidth := printf "%v%v" "uk-child-width-1-" $postCount}}
{{ $getWidths := print $getWidth "@l" }}
<div class="uk-section">
    <div class="uk-section">
        <div class="uk-text-center" uk-grid> <!--  -->
            {{range $index, $element := .content}}
            <div class="uk-width-1-{{$postCount}}">
                <div class="uk-card uk-card-default uk-card-body">
                    <img src="{{ $element.image }}" alt="" width="100px">
                    <p>{{ $element.name }}</p>
                    <p>{{ $element.title }}</p>
                    <i>{{$index}}</i>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

