.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .uk-navbar-nav > li > a,
  a {
    color: white;
  }

  .sticky-header & {
    background: white;

    .uk-navbar-nav > li > a,
    a {
      color: $grey-light;
    }
  }

  .logo {
    align-self: center; 
    transition: $transition-fast;
    flex-shrink: 0;

    &--white {
      .sticky-header & {
        opacity: 0;
      }
    }

    &--color {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      .sticky-header & {
        opacity: 1;
      }
    }
  }

  .uk-navbar-container {
    border-bottom: 1px solid white;
  }

  .main-nav-toggle {
    $height: 20px;

    display: none;
    position: relative;
    background: transparent;
    border: none;
    width: 30px;
    height: $height;

    &:hover {
      span {
        color: $brand-primary;
      }
    }

    span {
      width: 100%;
      height: floor($height/5);
      background: white;
      position: absolute;
      left: 0;
      transition: $transition-fast;

      .nav-active & {
        background: $brand-secondary;
      }

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        margin-top: -(floor($height/5/2));
      }

      &:last-child {
        bottom: 0;
      }
    }
  }
}

// Mobile Navigation
@media (max-width: $breakpoint-medium) {
  $header-height: 80px;

  .header-main {
    .main-nav-toggle {
      display: block;
    }

    .uk-navbar-container {
      height: $header-height;
    }

    .nav-active & {
      background: white;

      .logo--white {
        opacity: 0;
      }

      .logo--color {
        opacity: 1;
      }
    }

    .uk-navbar-nav {
      transition: $transition-fast;
      position: fixed;
      top: $header-height;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background: white;
      pointer-events: none;

      .nav-active & {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
